<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse bg-dark navbar-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" >QUESTION PAPER PREPARATION AND ANALYSIS</a>
          </div>
         
      
          <ul class="nav navbar-nav navbar-right">
      
            <li><a href="#">Logged in as :{{Eusername}}</a></li>
            <li><a href="\Logout" ><span class="glyphicon glyphicon-log-in"></span> LOGOUT </a></li>
          </ul>
        </div>
      </nav>
<div class="container">
    <h2 >TABLE OF Theory Questions</h2>
    <table class="table table-hover">
        
            <tr>
                <th>&nbsp;</th>  <th>Question ID</th><th>Question Text  </th><th>CO</th><th>UNIT Num</th><th>
                    BLoom Level</th><th>Max Marks</th><th>Min Marks</th>
            </tr>
          
          <tr>
            {% for item in thr_ques %}
            <tr>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    {{item.id}}
                </td>
                
           <td>
               {{item.Qtext}}
           </td>
           <td>
               {{item.Co}}
           </td>
           <td>
               {{item.unit_num}}
           </td>
           <td>
               {{item.BloomL}}
           </td>
           
            <td>
            {{item.max_marks}}
            </td>
            <td>
                {{item.min_marks}}
                </td>
    
          </tr>

          {% endfor %}







    </table>
</div>

<div class="container">
    <h2 >TABLE OF MCQ Questions</h2>
    <table class="table table-hover">
        <tr>
            
                <th>&nbsp;</th>  <th>Question ID</th><th>Question Text  </th><th>CO</th><th>UNIT Num</th>
                <th>BLoom Level</th> <th>Max Marks</th><th>Min Marks</th> <th>OPTION 1</th><th>OPTION 2</th><th>OPTION 3</th><th>OPTION 4</th>
  
        </tr>
        {% for item in mcq_ques %}
            <tr>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    {{item.id}}
                </td>
                
           <td>
               {{item.Qtext}}
           </td>
           <td>
               {{item.Co}}
           </td>
           <td>
               {{item.unit_num}}
           </td>
           <td>
               {{item.BloomL}}
           </td>
        
           <td>
            {{item.choice_1}}
        </td>
        <td>
            {{item.choice_2}}
        </td>
        <td>
            {{item.choice_3}}
        </td>
        <td>
            {{item.choice_4}}
        </td>
        
       <td>
        {{item.max_marks}}
       </td>
       <td>
        {{item.min_marks}}
        </td>
        </tr>
        {% endfor %}

    </table>
</div>

    <div class="container">
        <button type="button" class="btn btn-primary" onclick="GetTickedRows()">APPROVE THESE QUESTIONS</button>

    </div>
<script>
    var idM=[],idT=[]
function GetTickedRows()
{
    var index=0;
    var jindex=0;
    $("#MCQT input[type=checkbox]:checked").each(function () {

        var row=$(this).closest("tr")[0];  
        idM[index]=(row.cells[1].innerHTML).trim();
        index++;
    });

    $("#THRQ input[type=checkbox]:checked").each(function () {

        var row=$(this).closest("tr")[0];  
        idT[jindex]=(row.cells[1].innerHTML).trim();

        jindex++;
    });


    $.ajax({
        type: 'POST',
      
        url: '/ver_quests',
        data: {csrfmiddlewaretoken: window.CSRF_TOKEN,'thrid[]':idT,'mcqid[]':idM},
        });

}


</script>

</body>
</html>