<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
</style>

</head>

<body>
    <div class="container">

        <h2>ENTER DETAILS OF THE DEPARTMENT :</h2>
        <form action='InsertDepInfo'>

        <div class="form-group">

            <label for="did">Enter the Department ID:</label>
            <input type=text class="form-control" id="did" name ="did" required size="50">
        </div>

        <div class="form-group">

            <label for="dname">Enter the complete Department Name:</label>
            <input type=text class="form-control" id="dname" name ="dname" required size="50">
        </div>

        <div class="form-group">

            <label for="dcode">Enter the Alphabetical Department Code:</label>
            <input type=text class="form-control" id="dcode" name ="dcode" required size="50">
        </div>
        <div class="form-group">

            <label for="hodname">Enter Department Head ID :</label>
            <input type=text class="form-control" id="hodname" name ="hodname" required size="50">
        </div>
        <div class="form-group">

            <label for="dhid">Enter Department Head ID :</label>
            <input type=text class="form-control" id="dhid" name ="dhid" required size="50">
        </div>
        <div class="form-group">

            <label for="hname">Enter the Department Head User Name:</label>
            <input type=text class="form-control" id="hname" name ="hname" required size="50">
        </div>
        <div class="form-group">

            <label for="passk">Enter the PASSKEY:</label>
            <input type=text class="form-control" id="passk" name ="passk" required size="50">
        </div>
       
        <div class="form-group">
            <input type="submit" value="CREATE DEPARTMENT" id="submit" name="submit">

            
        </div>

    </form>

    </div>

</body>

</html>
