<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
</style>

</head>
<body>
    <div class="container">
        <h2>Enter Details of The Teacher</h2>
        <form action='InsertTeacher'>
            <div class="form-group">

                <label for="tid">Enter Teacher's ID :</label>
                <input type=text class="form-control" id="tid" required size="50">
            </div>
            <div class="form-group">

                <label for="tname">Enter Teacher's Name :</label>
                <input type=text class="form-control" id="tname" required size="50">
            </div>
            <div class="form-group">

                <label for="uname">Enter Teacher's Username:</label>
                <input type=text class="form-control" id="uname" required size="50">
            </div>
            <div class="form-group">

                <label for="upass">Enter Teacher's Password:</label>
                <input type=text class="form-control" id="upass" required size="50">
            </div>

            <div class="form-group">
                <input type="submit" value="CREATE TEACHER" id="submit" name="submit">

                
            </div>

        </form>
        
    </div>   


</body>

</html>
