<html>
    <head>
        <style>
            input[type=text] {
                width: 50%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 3px solid #ccc;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none;
              }
              
              input[type=text]:focus {
                border: 3px solid #555;
              }

        </style>
    </head>
    <body>
        <h2>Enter details of the Teacher</h2>
        <form action='InsertTeacher'>
            <label>Enter Teacher's ID :</label><br>
            <input type=text name="tid" id="tid"><br>
            <label>Enter Teacher's Name :</label><br>
            <input type=text name="tname" id="tname"><br>
            <label>Enter Teacher's Username:</label><br>
            <input type=text name="uname" id="uname"><br>
            <label>Enter Teacher's Password:</label><br>
            <input type=text name="tpass" id="tpass"><br>
            <tr>
                <input type="submit">
            </tr>

        </form>

    </body>
    </html>       