<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
  </style>
</head>
<body>

    <div class="container">
        <h2 align=center> Welcome Teacher {{teausername}}</h2>
        <h1 align=center> Select any of the following subjects :</h1>
        <form action="mapmults">

            <div class="form-group">
                
                <select class="form-control" id="firsb"  name="select_course"> 
                    {% for i in courses %}
                    <option value="{{i.Course_code}}#{{i.Rights}}">{{i.Course_name}} -- {{i.Rights}}</option>
                    {% endfor %}
                 
                </select>
              </div>

              <div class="form-group">
                <input type="submit" value="PROCEED" id="submit" name="submit">


            </div>


            </form>


    </div>

    
   

</body>
</html>