{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
   <style>
	#qpna
	{
	 font-size:30px;
	
	}
    </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="{% static 'BOOTSTRAP/css/bootstrap.min.css' %}" rel="stylesheet">
   <script src="{% static 'BOOTSTRAP/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
</head>
<body>
     <nav class="navbar navbar-inverse bg-dark navbar-dark">
        <div class="container-fluid">
	 <a class="navbar-brand" href="#">
           <img src="{% static 'kitimage.jpg'  %}" alt="" height="60" width="120">
        </a>
          <div class="navbar-header">
            <a class="navbar-brand" href="#" id="qpna">QUESTION PAPER PREPARATION AND ANALYSIS</a>
          </div>
		 
         
    
          <ul class="nav navbar-nav navbar-right">
    
            <li><a href="#">Logged in as :{{Eusername}}</a></li>
            <li><a  href="#" data-toggle="modal" data-target="#logoutModal" ><span class="glyphicon glyphicon-log-in"></span> LOGOUT </a></li>
          </ul>
        </div>
      </nav>
	<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
	   <h4>Log Out <i class="fa fa-lock"></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
       
      </div>
      <div class="modal-body">
        <p><i class="fa fa-question-circle"></i> Are you sure you want to Logout? <br /></p>
        <div class="actionsBtns">
            <form action="/logout" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="submit" class="btn btn-default btn-primary" data-dismiss="modal" value="Logout" onclick="execLogout()" />
	                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="modal" id="ApproveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
         <h4>Approve  Confirmation<i class="fa fa-lock"></i></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         
        </div>
        <div class="modal-body">
          <p><i class="fa fa-question-circle"></i> Are you sure you want to Approve these Questions? <br /></p>
          <div class="actionsBtns">
              <form action="/logout" method="post">
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                  <input type="submit" class="btn btn-default btn-success" data-dismiss="modal" value="YES" onclick="GetTickedRows()" />
                      <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div> 

<div class="container">
    <h2 >TABLE OF Theory Questions</h2>
    <table class="table table-hover" id="THRQ">
        
            <tr>
                <th>&nbsp;</th>  <th>Question ID</th><th>Question Text  </th><th>CO</th><th>UNIT Num</th><th>
                    BLoom Level</th><th>Max Marks</th><th>Min Marks</th>
            </tr>
          
          <tr>
            {% for item in thr_ques %}
            <tr>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    {{item.id}}
                </td>
                
           <td>
               {{item.Qtext}}
           </td>
           <td>
               {{item.Co}}
           </td>
           <td>
               {{item.unit_num}}
           </td>
           <td>
               {{item.BloomL}}
           </td>
           
            <td>
            {{item.max_marks}}
            </td>
            <td>
                {{item.min_marks}}
                </td>
    
          </tr>

          {% endfor %}







    </table>
</div>

<div class="container" id="MCQT">
    <h2 >TABLE OF MCQ Questions</h2>
    <table class="table table-hover" id="MCQT">
        <tr>
            
                <th>&nbsp;</th>  <th>Question ID</th><th>Question Text  </th><th>CO</th><th>UNIT Num</th>
                <th>BLoom Level</th> <th>Max Marks</th><th>Min Marks</th> <th>OPTION 1</th><th>OPTION 2</th><th>OPTION 3</th><th>OPTION 4</th>
  
        </tr>
        {% for item in mcq_ques %}
            <tr>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    {{item.id}}
                </td>
                
           <td>
               {{item.Qtext}}
           </td>
           <td>
               {{item.Co}}
           </td>
           <td>
               {{item.unit_num}}
           </td>
           <td>
               {{item.BloomL}}
           </td>
        
           <td>
            {{item.choice_1}}
        </td>
        <td>
            {{item.choice_2}}
        </td>
        <td>
            {{item.choice_3}}
        </td>
        <td>
            {{item.choice_4}}
        </td>
        
       <td>
        {{item.max_marks}}
       </td>
       <td>
        {{item.min_marks}}
        </td>
        </tr>
        {% endfor %}

    </table>
</div>

    <div class="container">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ApproveModal" >APPROVE THESE QUESTIONS</button>

    </div>
    <br>
<script>
    var idM=[],idT=[]
function GetTickedRows()

{
    console.log("Inside ticked rows")
    var index=0;
    var jindex=0;
    $("#MCQT input[type=checkbox]:checked").each(function () {

        var row=$(this).closest("tr")[0];  
        idM[index]=(row.cells[1].innerHTML).trim();
        console.log(row.cells[1].innerHTML.trim())
        index++;
        
    });

    $("#THRQ input[type=checkbox]:checked").each(function () {

        var row=$(this).closest("tr")[0];  
        idT[jindex]=(row.cells[1].innerHTML).trim();
        console.log("hey we're inside")
        console.log(row.cells[1].innerHTML.trim())
        console.log()

        jindex++;
    });


    
   
    $.ajax({
        type: 'POST',
      
        url: '/ver_quests',
        data: {csrfmiddlewaretoken: window.CSRF_TOKEN,'thrid[]':idT,'mcqid[]':idM},
        success : function(response){
            window.location='Done_ver'
        }
        });
        

}
function execLogout()
	{
		window.location.href="Logout";
	
	}


</script>

</body>
</html>