{% load static %}
<!DOCTYPE html>
<html>
<head>

<style>
	#qpna
	{
	 font-size:30px;
	
  }
  
  .sizel
  {
    font-size:20px;
  }



    </style>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
</style>

</head>

<body>
<nav class="navbar navbar-inverse bg-dark navbar-dark">
        <div class="container-fluid">
	 <a class="navbar-brand" href="#">
      <img src="{% static 'kitimage.jpg'  %}" alt="" height="60" width="120">
        </a>
          <div class="navbar-header">
            <a class="navbar-brand" href="#" id="qpna">QUESTION PAPER PREPARATION AND ANALYSIS</a>
          </div>
		 
         
    
          <ul class="nav navbar-nav navbar-right">
    
            <li><a href="#">Logged in as :{{Eusername}}</a></li>
            <li><a  href="#" data-toggle="modal" data-target="#logoutModal" ><span class="glyphicon glyphicon-log-in"></span> LOGOUT </a></li>
          </ul>
        </div>
      </nav>
	<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
	   <h4>Logout Confirmation<i class="fa fa-lock"></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
       
      </div>
      <div class="modal-body">
        <p><i class="fa fa-question-circle"></i> Are you sure you want to Logout? <br /></p>
        <div class="actionsBtns">
            <form action="/logout" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="submit" class="btn btn-default btn-primary" data-dismiss="modal" value="Logout" onclick="execLogout()" />
	                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div> 
   
    <div class="container">

        <h2>ENTER DETAILS OF THE DEPARTMENT :</h2>
        <form action='InsertDepInfo' method="POST">
            {% csrf_token %}

        <div class="form-group" >

            <label for="did" class="sizel">Department ID:</label>
            <input type=text class="form-control" id="did" name ="did" required size="50">
        </div>

        <div class="form-group">

            <label for="dname"  class="sizel"> Department Name:</label>
            <input type=text class="form-control" id="dname" name ="dname" required size="50">
        </div>

        <div class="form-group" >

            <label for="dcode" class="sizel">Department Code:</label>
            <input type=text class="form-control" id="dcode" name ="dcode" required size="50">
        </div>
        <div class="form-group" >

            <label for="hodname" class="sizel"> Head Name :</label>
            <input type=text class="form-control" id="hodname" name ="hodname" required size="50">
        </div>
        <div class="form-group" >

            <label for="dhid" class="sizel"> Head ID :</label>
            <input type=text class="form-control" id="dhid" name ="dhid" required size="50">
        </div>
        <div class="form-group" >

            <label for="hname" class="sizel"> Head User Name:</label>
            <input type=text class="form-control" id="hname" name ="hname" required size="50">
        </div>
        <div class="form-group" >

            <label for="passk" class="sizel">Enter the PASSKEY:</label>
            <input type=text class="form-control" id="passk" name ="passk" required size="50">
        </div>
       
        <div class="form-group">
            <input type="submit" value="CREATE DEPARTMENT" id="submit" name="submit" class="btn-success">

            
        </div>

    </form>

    </div>
	<script>
			function execLogout()
	{
		window.location.href="Logout";
	
	}
	
    </script>

</body>

</html>
