{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style type="text/css">

	#qpna
	{
	 font-size:30px;
	
  }
  .sizel
  {
    font-size:20px;
  }
</style>





</head>
<body>
<nav class="navbar navbar-inverse bg-dark navbar-dark">
        <div class="container-fluid">
	 <a class="navbar-brand" href="#">
        <img src="{% static 'kitimage.jpg'  %}" alt="" height="60" width="120">
        </a>
          <div class="navbar-header">
            <a class="navbar-brand" href="#" id="qpna">QUESTION PAPER PREPARATION AND ANALYSIS</a>
          </div>
		 
         
    
          <ul class="nav navbar-nav navbar-right">
    
            <li><a href="#">Logged in as :{{Eusername}}</a></li>
            <li><a  href="#" data-toggle="modal" data-target="#logoutModal" ><span class="glyphicon glyphicon-log-in"></span> LOGOUT </a></li>
          </ul>
        </div>
      </nav>
	<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
	   <h4>Logout Confirmation<i class="fa fa-lock"></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
       
      </div>
      <div class="modal-body">
        <p><i class="fa fa-question-circle"></i> Are you sure you want to Logout? <br /></p>
        <div class="actionsBtns">
            <form action="/logout" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="submit" class="btn btn-default btn-primary" data-dismiss="modal" value="Logout" onclick="execLogout()" />
	                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div> 
    <div class="container">
        <h2 align="center">Enter Details of the Question Paper You want to create</h2>
        
        <form action="NewTempl1" onsubmit="return validateM()" method="POST">
          {% csrf_token %}
            <div class="form-group">
                <label for="sel1" class="sizel">SELECT EXAM TYPE</label>
                <select class="form-control" id="sel1"  name="examtype" >
                    <option val="mse">MID SEMESTER EXAMINATION </option>
                    <option val="ese">END SEMESTER EXAMINATION</option>
                    <option val="ise">IN SEMESTER EXAMINATION</option>
                  </select>
                  </div>

                  <div class="form-group">
                    <label for="sel1" class="sizel">SELECT EXAMINATION</label>
                    <select class="form-control" id="examSEM"  name="examSEM">
                        <option value="FIRST YEAR B.Tech#(SEM 1)">FIRST YEAR B.Tech (SEM 1)</option>
                        <option value="FIRST YEAR B.Tech#(SEM 2)">FIRST YEAR B.Tech (SEM 2)</option>
                        <option value="SECOND YEAR B.Tech#(SEM 3)">SECOND YEAR B.Tech (SEM 3)</option>
                        <option value="SECOND YEAR B.Tech#(SEM 4)">SECOND YEAR B.Tech (SEM 4)</option>
                        <option value="THIRD YEAR B.Tech#(SEM 5)">THIRD YEAR B.Tech (SEM 5)</option>
                        <option value="THIRD YEAR B.Tech#(SEM 6)">THIRD YEAR B.Tech (SEM 6)</option>
                        <option value="FOURTH YEAR B.Tech#(SEM 7)">FOURTH YEAR B.Tech (SEM 7)</option>
                        <option value="FOURTH YEAR B.Tech#(SEM 8)">FOURTH YEAR B.Tech (SEM 8)</option>
                        <option value="FIRST YEAR M.Tech#(SEM 1)">FIRST YEAR M.Tech (SEM 1)</option>
                        <option value="FIRST YEAR M.Tech#(SEM 2)">FIRST YEAR M.Tech (SEM 2)</option>
                        <option value="SECOND YEAR M.Tech#(SEM 3)">SECOND YEAR M.Tech (SEM 3)</option>
                        <option value="SECOND YEAR M.Tech#(SEM 4)">SECOND YEAR M.Tech (SEM 4)</option>
                     
                      </select>
                      </div>      
                  <div class="form-group">

                    <label for="qt" class="sizel">ENTER TOTAL MARKS OF THE EXAMINATION:</label>
                    <input type=number class="form-control" id="marks" name="marks" required  min="1" step="1">
                </div>
                <div class="form-group">
                  <h4 id="markw" style="color:red;"></h4>
                </div>
                <div class="form-group">
                    <p  class="sizel">Do you want MCQ Questions in the question paper?</p>
                    <label class="radio-inline">
                        <input type="radio" name="papertype"  value="MCQ">YES
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="papertype" checked value="NOMCQ">NO
                      </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="PROCEED TO NEXT STEP" id="submit" name="submit" class="btn-success">
    
                    
                </div>
        </form>
    </div>
                
                  
    <script>

      function validateM()
      {

        var num =Number(document.getElementById("marks").value)
        if(num>0 && num<=200)
        {
          document.getElementById("markw").innerHTML="";
          return true;
        }
        //window.alert(" Please Enter Valid Marks!")
        document.getElementById("markw").innerHTML=" Please Enter Valid Marks!";
        return false;

      }
	  
	  	function execLogout()
	{
		window.location.href="Logout";
	
	}	

    </script>





</body>
</html>