{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
</style>

</head>
<body>
    <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript"></script>
    <h2>Course Name {{course_name}}</h2>
        <h2>Examination {{exam_name}}</h2>
        <h2>Total Examination Marks {{Exam_marks}}</h2>
        <h2>Total Questions :{{total_quest}}</h2>
        <h2 id="cqn">Choose for : </h2>

        <h2>Table of Theoretical Questions</h2>
    <table id="THRQ">
        <tr>
          <th>&nbsp;</th>  <th>Question ID</th><th>Question Text  </th><th>CO</th><th>UNIT Num</th><th>
                BLoom Level</th><th>Max Marks</th><th>Min Marks</th>
           
        </tr>
        {% for item in thr_ques %}
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                {{item.id}}
            </td>
            
       <td>
           {{item.Qtext}}
       </td>
       <td>
           {{item.Co}}
       </td>
       <td>
           {{item.unit_num}}
       </td>
       <td>
           {{item.BloomL}}
       </td>
       
        <td>
        {{item.max_marks}}
        </td>
        <td>
            {{item.min_marks}}
            </td>

       
        </tr>
        {% endfor %}


        
    </table>

    <button onclick="GetTickedRows()"> PROCEED FURTHER</button>
    <button onclick="GenLatex()">GENERATE LATEX</button>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 

    <div>
        <h3>  UNIT WISE QUESTION DISTRIBUTION</h3>
    <canvas id="myChart" width="400" height="200" style="visibility: hidden"></canvas> 
    </div>
    
    
    <div>
        <h3>  BLOOMS LEVEL WISE DISTRIBUTION</h3>
    <canvas id="myChart2" width="400" height="200" style="visibility: hidden" ></canvas>
    </div>
    <div>
        <h3>COURSE OUTCOME WISE DISTRIBUTION
        </h3>
        <canvas id="myChart3" width="400" height="200" style="visibility: hidden" ></canvas>

    </div>

    <h1>Set marks for the following Theory Questions:</h1>

<table>
    <tr><td id="qtext"></td></tr>
    <tr><td>Max Marks:</td><td id="mxms"></td></tr>
    <tr><td>Min Marks:</td><td id="minm"></td></tr>
    <tr><td>BLOOML:</td><td id="blooml"></td></tr>
    <tr><td>Select marks for the above Question</td><td ><input type=number id="smarks"></td></tr>
    <tr><td><button onclick="AddElementMarks()">ADD MARKS</button></td></tr>
</table>
<script>
    var idT=[],QtextT=[],COT=[],UnumT=[],BLT=[],maxt=[],mint=[]
    var len1=0;
    var SetThr=[]
    var addTleni=0;

    function GetTickedRows()
    {
        var jindex=0;

    $("#THRQ input[type=checkbox]:checked").each(function () {

        var row=$(this).closest("tr")[0];  
        idT[jindex]=(row.cells[1].innerHTML).trim();
        QtextT[jindex]=(row.cells[2].innerHTML).trim();
        COT[jindex]=(row.cells[3].innerHTML).trim();
        UnumT[jindex]=(row.cells[4].innerHTML).trim();
        BLT[jindex]=(row.cells[5].innerHTML).trim();
        maxt[jindex]=(row.cells[6].innerHTML).trim();
        mint[jindex]=(row.cells[7].innerHTML).trim();

        jindex++;
        
       
       });


       document.getElementById("qtext").innerHTML=QtextT[addTleni];
       document.getElementById("mxms").innerHTML=maxt[addTleni];
       document.getElementById("minm").innerHTML=mint[addTleni];
       document.getElementById("blooml").innerHTML=BLT[addTleni];
       len1=QtextT.length
    
    }
    function AddElementMarks()
    {
      
      SetThr[addTleni]=document.getElementById("smarks").value
      if(addTleni<len1)
      {
          addTleni++;
  
          
          document.getElementById("qtext").innerHTML=QtextT[addTleni];
          document.getElementById("mxms").innerHTML=maxt[addTleni];
          document.getElementById("minm").innerHTML=mint[addTleni];
          document.getElementById("blooml").innerHTML=BLT[addTleni];
  
          console.log("The length of index array is ",addTleni ," len of array is ",len1)
        
  
  
  
      }
  
      if(addTleni==(len1))
      {  
          console.log("now you can generate the paper")
  
      }
  
  
    }

    function GenLatex()
    {
        $.ajax({


            type: 'POST',
          
            url: '/gen_latex_no_mcq',
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN,'QtextT[]':QtextT,'idT[]':idT,'COT[]':COT,'BLT[]':BLT,'UnumT[]':UnumT,'SetThr[]':SetThr},
            success : function(response){
                window.location='template_details'
            }
        });


    }



</script>

</body>

</html>